@import "tailwindcss";

@theme {
  --color-primary: hsl(0, 0, 50)
}

@layer {
    body {
    background: hsl(0, 0, 97);
    color: var(--foreground);
    font-family: Noto Sans, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--primary-color);
  }
}

